/*обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/*обнуление*/

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #252B42;
	font-family: Montserrat;
	background: #FAFAFA;
}
/*-------------------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	 display: flex;
	flex-direction: column;
}
/*-----в дан.случ паддинг - не позвол прилипать лого при адаптиве -----*/
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto; 
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	}
/*margin позволяет контейнеру выстроится по середине, любой блочн блок */
/*                   шапка                                        */
/*-----------шапка надвисает на блок(картинку) - поэт. позишн -абсолют -----*/
/*-------z-индекс:больш,чтобы наверху всегда над картинкой----*/
.header {
	position: absolute;
	width:100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width:479px){
	.header__container {min-height: 70px;}
}
/*--------ссылки не наследуют колор, нужно указ:inherit ----*/
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width:992px){
	.header__menu {margin:0px 0px 0px 80px;}
}
@media (max-width:767px){
	.header__menu {margin:0px 0px 0px 50px;}
}
@media (max-width:479px){
	.header__menu {margin:0px 0px 0px 20px;}
}
.menu {
	padding: 5px 0;
}
/*-----выстраиваем в ряд:дисплей флекс----*/
/*-----wrap - позволяет пунктам ломаться при адаптиве---*/
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {

}
.menu__item:not(:last-child){
	margin: 0px 21px 0px 0px;
}


.menu__link {
	color: #737373;
	font-size: 14px;
	font-weight: 600;
	line-height: calc(24/14*100%);
}
@media (max-width:479px){
	.menu__link {color: #131212;}
}

@media (max-width:767px){
	.menu__link {font-size: 18px;}
}

/*--------main -----------------------*/
/*------------page---------------------*/
.page {
	flex: 1 1 auto;
}
.page__main {
}
.page__main-block{

}
.page__services {
}
.block {
}
/*-----------------------------*/
.main-block {
	position: relative;
	
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width:992px){
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}

/*----------обращ ко всем обьектм 1го уровня >*---*/
.main-block__body > *:not(:last-child){
margin: 0px 0px 35px 0px;
}
.main-block__title {
font-weight: 800;
font-size: 58px;
line-height: 138%;
letter-spacing: 0.2px;
}
@media (max-width:479px){
	.main-block__title {
		font-size: 42px;
	}
}

.main-block__text {
color: #737373;
font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.2px;
}

@media (max-width:479px){
	.main-block__text {color:#131212}

}
.main-block__buttons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
font-weight: 700;
font-size: 14px;
line-height: 150%;
display: flex;
min-height: 48px;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.2px;
border-radius: 37px;
padding: 5px 36px;
margin: 10px 0;
}
@media (max-width:479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width:479px) {
.main-block__button:not(:last-child){
	margin-right: 10px;
}
}
.main-block__button_orange {
	color: #FFFFFF;
	background: #FF7B47;
}
.main-block__button_border {
	border: 1px solid #0D5C63;
	color: #0D5C63;
}
@media (max-width:479px){
	.main-block__button_border{color: #04666e}
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width:1300px) {
.main-block__image  img {
	object-position: right;
}
}
@media (max-width:992px) {
	.main-block__image{
		opacity: 0.5;
	}

}
/*-----------------section------------------*/
   /*----только с отриц мэржином и позишн дадут возм преподним блоки----*/
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px; 
}
.page__advantages {
}
/*-----------------header------------------*/
.header-block {
	text-align: center;
	
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	/* text-color */
	color: #252B42;
}
.header-block__title:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
	font-weight: 500;
font-size: 14px;
line-height: 142%;
letter-spacing: 0.2px;
/* second-text-color */
color: #737373;
}
@media (max-width:992px){
	.header-block__title {
		font-size: 33px;
	}
}
@media (max-width:767px){
	.header-block__title {
		font-size: 35px;
	}
}
/*-----------------service------------------*/
.services {
}
.services__container {
}

.services__body {
	
}
@media (min-width:670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
	margin: 0 -15px -30px;  /* margin отриц чтобы сделать отсупы-----*/
}
}
.services__column {
		flex: 0 1 33.333%;
	margin: 0px 0px 30px 0px;
}
@media (min-width:670px){
	.services__column {
		padding: 0px 15px;
	}
}
@media (max-width:992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}

.services__item {
	height: 100%;/*  чтобы карточки б. одинак размера,даже при увеличении текста */
	background: #FFFFFF;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px;
}
.item-service {

}
.item-service_green {
	background: #0D5C63;
}
.item-service_green .item-service__title {
	color: #FFFFFF;
}
.item-service_green .item-service__text{
	color: #FFFFFF;
}
.item-service > *:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
}

.item-service__title {
font-weight: 700;
font-size: 24px;
line-height: 133%;
letter-spacing: 0.1px;
/* text-color */
color: #252B42;
}

.item-service__text {
font-weight: 500;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.2px;
/* second-text-color */
color: #737373;
}

/*--------------section2-----------------*/
.advantages{
	padding: 80px 0;
}
@media (max-width:992px){
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width:767px){
	.advantages {
		padding: 30px 0;
	}
}
.advantages__container {
}

.advantages__header {
	margin: 0px 0px 50px 0px;
}

.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
@media (max-width:1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width:560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	font-weight: 700;
	padding: 30px;
	text-align: center;
	background-color: #FFFFFF;
}
.advantages__item > *:not(:last-child){
	margin: 0px 0px 10px 0px;

}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
font-size: 40px;
line-height: 142%;
letter-spacing: 0.2px;
/* text-color */
color: #252B42;
}

.advantages__text {
font-size: 16px;
line-height: 150%;
letter-spacing: 0.1px;

}
/*--------подвал -----------------------*/
.footer {
}
